# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL='mysql://94da2isy5moo:pscale_pw_hjBeCAxJnJlQUGXknR1ec4bCQLcJ3lA8y-mPAX2ijkA@mhsoi7x27pmp.us-east-4.psdb.cloud/featurecreep?sslaccept=strict'

# Next Auth
GITHUB_ID=
GITHUB_SECRET=
